body{
  padding: 0;
  margin: 0;
}
.call{
  background-color: #020e13;
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.call p{
  text-align: center;
  color: #fff;
  font-size:xx-large;
}
 
.foto {
  width: 100%;
  height: 560px;
  background-image: url(https://lagunagreen.org/img/galeria11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}